<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Album" type="com.sample.db.pojos.Album"/>
        <typeAlias alias="Artist" type="com.sample.db.pojos.Artist"/>
        <typeAlias alias="Customer" type="com.sample.db.pojos.Customer"/>
        <typeAlias alias="Employee" type="com.sample.db.pojos.Employee"/>
        <typeAlias alias="Genre" type="com.sample.db.pojos.Genre"/>
        <typeAlias alias="Invoice" type="com.sample.db.pojos.Invoice"/>
        <typeAlias alias="InvoiceLine" type="com.sample.db.pojos.InvoiceLine"/>
        <typeAlias alias="MediaType" type="com.sample.db.pojos.MediaType"/>
        <typeAlias alias="Track" type="com.sample.db.pojos.Track"/>
    </typeAliases>
    <mappers>
        <mapper resource="SqlMaps/AlbumMapper.xml"></mapper>
        <mapper resource="SqlMaps/ArtistMapper.xml"></mapper>
        <mapper resource="SqlMaps/CustomerMapper.xml"></mapper>
        <mapper resource="SqlMaps/EmployeeMapper.xml"></mapper>
        <mapper resource="SqlMaps/GenreMapper.xml"></mapper>
        <mapper resource="SqlMaps/InvoiceLineMapper.xml"></mapper>
        <mapper resource="SqlMaps/InvoiceMapper.xml"></mapper>
        <mapper resource="SqlMaps/MediaTypeMapper.xml"></mapper>
        <mapper resource="SqlMaps/TrackMapper.xml"></mapper>
    </mappers>
</configuration>
